extends ../layouts/main-layout

block styles 
  title Cart 
block content 
  .container
    h1.text-center.my-2 Cart items: 
    if items.length
      ul.cart-items.mb-1
        each item in items
          .list-item
            img(src=`/uploads/images/${item.product.image}`, alt="") 
            .product-info 
              p.mb-1 Product: #{item.product.title}
              p.mb-1 Price: 
                strong #{item.product.price}$
              p.mb-1 quantity: 
                strong #{item.quantity}
              form(action="/shop/delete-cart-item", method="post") 
                i.deleteFromCart.fas.fa-trash.fa-2x(data-productid=item.product.id data-csrf=crsfToken)
  
      p 
        strong Total price: #{totalPrice} 
      form(action="/shop/orders", method="post") 
        input(type="hidden" name="_csrf" value=csrfToken) 
        button.btn(type="submit") Order now      
    else 
      h3.text-center Your cart is empty! Add products to your cart!
    