extends ../layouts/main-layout
block styles
  title Shop items
block content
  body 
    .container
      h1.text-center.my-2 Shop items goes here:
      .d-flex.justify-center
        if products.length > 0
          each product in products
            .product-item 
              h3.my-1 #{product.title}
              p Price: #{product.price}
              i.my-1.fas.fa-cart-plus.fa-2x
              a.btn.btn-accent(href=`/admin/edit/${product.id}`) Edit
              a.btn(href=`/shop/${product.id}`) More about this
              form(action="/admin/delete" method="POST")
                input.hidden(type="text" name="productId" value=product.id)
                button.btn(type="submit") Delete  
        else 
          h2 No products to show
